# Python Crash Course

## Data Types

## Numbers

In [1]:
2+2

4

In [2]:
type(2)

int

In [3]:
2*3

6

In [4]:
2 * 3

6

In [5]:
2-3

-1

In [6]:
type(2-3)

int

In [7]:
abs(2-3)  # conver - to +

1

In [8]:
2/3

0.6666666666666666

In [9]:
5/2

2.5

In [10]:
type(5/2)

float

In [11]:
int(5/2)

2

In [12]:
5//2

2

In [13]:
5%2

1

In [14]:
2**3  #power

8

In [15]:
1+1.0

2.0

In [16]:
5//2

2

In [17]:
5/2

2.5

In [18]:
5/2.0

2.5

## Variable Assignement

In [19]:
var_name = 2

In [20]:
var name = 2

SyntaxError: invalid syntax (<ipython-input-20-4a5d5b040d97>, line 1)

In [21]:
varname_ = 2

In [22]:
_varname = 2

In [23]:
12var_name = 12  #not strat with a nunmber

SyntaxError: invalid syntax (<ipython-input-23-ff45cc07a7cd>, line 1)

In [24]:
var_name

2

In [25]:
varname_

2

In [26]:
_varname

2

In [27]:
type(_varname)

int

In [28]:
float_var = 2.0

In [29]:
type(float_var)

float

In [30]:
a = 1
b = 3.9
c = a+b
c

4.9

In [32]:
float = 2  #reserved keyword

In [33]:
del float

In [34]:
float(_varname)

2.0

## String

In [35]:
#''
#""

In [36]:
'this is string '

'this is string '

In [37]:
type('this is string')

str

In [38]:
"this is string"

'this is string'

In [39]:
type("this is string")

str

In [40]:
string = 'this  is atring'
string

'this  is atring'

In [41]:
string = "this is string"
string

'this is string'

In [42]:
print(string)  #single and double cortt remove

this is string

In [43]:
string = 'this isabhiyantriki's lesson

SyntaxError: invalid syntax (<ipython-input-43-5c772272a162>, line 1)

In [44]:
string = "this isabhiyantriki's lesson"
string

"this isabhiyantriki's lesson"

In [45]:
string = 'this isabhiyantriki\'s lesson'
string

"this isabhiyantriki's lesson"

In [49]:
string = r"this isabhiyantriki's lesson"
string

"this isabhiyantriki's lesson"

In [53]:
string = "this is abhiyantriki's" + " 2nd" + " lesson"
string

"this is abhiyantriki's 2nd lesson"

In [54]:
string = r"this isabhiyantriki's {}nd lesson".format(2)
string

"this isabhiyantriki's 2nd lesson"

## List  []

In [55]:
x = [1,2,3,4,5]
x

[1, 2, 3, 4, 5]

In [56]:
x = [1,2,3,"four", 5.0]
x

[1, 2, 3, 'four', 5.0]

In [57]:
# add item in alist
x.append(5)
x

[1, 2, 3, 'four', 5.0, 5]

In [58]:
x.pop()

5

In [59]:
x

[1, 2, 3, 'four', 5.0]

In [60]:
x.insert(0,'one')
x

['one', 1, 2, 3, 'four', 5.0]

In [61]:
x[:2]

['one', 1]

## Set

In [66]:
l = [1,1,2,2]
type(l)

list

In [67]:
l

[1, 1, 2, 2]

In [68]:
s = {1,1,2,2,3}  #set includes unique values

In [69]:
s

{1, 2, 3}

In [70]:
set(l)

{1, 2}

In [71]:
s = {1,'one',2.0,3}  #not like of erdered collection
s

{1, 2.0, 3, 'one'}

In [72]:
s[0]

TypeError: 'set' object is not subscriptable

In [73]:
s = [1,'one',2.0,3]
s

[1, 'one', 2.0, 3]

In [74]:
s[1]

'one'

## Tuple

In [75]:
#()  u can't update the tupple

In [76]:
t = (1,'two', 'three')  #get order
t

(1, 'two', 'three')

In [77]:
t[0]

1

In [78]:
t[:2]

(1, 'two')

In [79]:
t[-1]

'three'

In [80]:
t[-2:]

('two', 'three')

## Dictonary

In [81]:
# {}

In [82]:
# key:value

In [83]:
d = {'key1':'val1', 'key2':'val2'}
d

{'key1': 'val1', 'key2': 'val2'}

In [84]:
type(d)

dict

In [85]:
d = {'one':1, 2:'two'}
d

{'one': 1, 2: 'two'}

In [86]:
d.keys()  #for keys

dict_keys(['one', 2])

In [87]:
d.values()  #for values

dict_values([1, 'two'])

In [88]:
d.items()

dict_items([('one', 1), (2, 'two')])

In [89]:
d['three']=3.0
d

{'one': 1, 2: 'two', 'three': 3.0}

In [90]:
d['three'] = 3  #updation
d

{'one': 1, 2: 'two', 'three': 3}

## `Boolean and Comparision Operatore

In [91]:
True

True

In [92]:
False

False

In [93]:
1>2

False

In [94]:
2>1

True

In [95]:
10 == 12

False

In [96]:
10 ==10

True

In [97]:
10!=11

True

In [98]:
None == None

True

In [99]:
None!=None

False

In [100]:
'string'=='string'

True

In [102]:
'str' == ' str'

False

## Logical Operatore

In [103]:
#and, or

In [104]:
10 or 8

10

In [105]:
0 or 1

1

In [106]:
5 or 4

5

In [107]:
(1==2) or (1==1)

True

In [108]:
(1==2) and (1==1)

False

In [109]:
False and True

False

In [110]:
True and False

False

In [111]:
True and True

True

In [112]:
False and False

False

In [113]:
(1 > 2) and (3>2) or (7>5)

True

In [114]:
(1 > 2) and ((3>2) or (7>5))

False

In [115]:
((1 > 2) and (3>2)) or (7>5)

True

## If, Else, Elif

In [116]:
if(1>2):
    print('True')

In [117]:
if False:
    print('this is a true')

In [118]:
(1>2)

False

In [119]:
if(2>1):
    print('true')

true

In [120]:
2>1

True

In [121]:
if True:
    print('true')

true

In [122]:
if (1>2):
    print('1>2')
else:
    print('1 is not grater than 2')

1 is not grater than 2

In [123]:
age = 49
if age>= 20 and age < 40:
    print("I am Young")
elif age>=40:
    print(' i am old')

 i am old

In [124]:
age = 19
if age>= 20 and age < 40:
    print("I am Young")
elif age>=40:
    print(' i am old')

In [125]:
age = 19
if age>= 20 and age < 40:
    print("I am Young")
elif age>=40:
    print(' i am old')
else:
    print('I am kid')

I am kid

## Loops

In [127]:
l = [1, 'one', 2.0, 3]
l

[1, 'one', 2.0, 3]

In [129]:
for i in l:
    print(i, type(i))

1 <class 'int'>
one <class 'str'>
2.0 <class 'float'>
3 <class 'int'>

In [130]:
t

(1, 'two', 'three')

In [132]:
for  i in t:
    print(i)

1
two
three

In [133]:
for i in 2:  # int is not iterable 
    print(i)

TypeError: 'int' object is not iterable

In [134]:
range(2)

range(0, 2)

In [136]:
for i in range(2):
    print(i)

0
1

##### While

In [138]:
i = 0
while i< len(l):
    print(i)
    i=i+1

0
1
2
3

In [139]:
len(l)

4

In [140]:
4<4

False

In [141]:
i = 0
while i< len(l):
    print(l[i])
    i=i+1

1
one
2.0
3

## Methods and Lambda

In [144]:
def methode1(x):
    x = x**2
    print(x)

In [145]:
methode1(4)

16

In [146]:
def method2(x):
    x = x**2
    return x

In [147]:
method2(4)

16

In [148]:
res = methode1(4)

16

In [151]:
res  # not returning anything

In [150]:
res2 = method2(4)
res2

16

#### Lambda

In [152]:
x = lambda y:y**2

In [154]:
x(4)

16

In [155]:
x = lambda a,b: a*b

In [156]:
x(2,3)

6

In [157]:
x(20,3)

60